@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Open+Sans:wght@700&family=Poppins:wght@300;400;500&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFF;
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 10fr;
    /* overflow-y: hidden; */
}

/* ============== Top Bar =============== */
header{
    width: 100vw;
    height: 40px;
    background: #F4EADC;
}
header a{
    height: 0px;
}
header #img{
    height: 39px;
    width: 30px;
    margin-left: 10px;
    color: #A1574C;
}

/* ==================Menu Bar ================*/
header #nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 40px;
    left: 0;
    height: calc(100vh - 40px);
    width: 55%;
    background: white;
    transform: translateX(-100%);
    transition: transform 350ms ease-out;
    z-index: 2;
}
header #nav.active{
    transform: translate(0);
    box-shadow: 0 400px 0 400px rgba(0, 0, 0, 0.379);
}
#nav h3, li{
    color: #A1574C;
    margin-bottom: 30px;
}
#nav #tittle{
    color: #BD8A57;
    margin-top: 30px;
}
nav #sair{
    background: #F4EADC;
    width: 100%;
    height: 35px;
    text-align: center;
}
nav ul{
    margin-right: 100px;
    list-style: none;
}
nav ul li #img-arrow{
    margin-top: 0px;
}


/* ================= Tela Principal ================== */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
}
main #add{
    width: 230px;
    height: 50px;
    background: #B17352;
    border: #B17352;
    border-radius: 9px;
    color: #FFFF;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main #add:hover{
    transition: 0.5s;
    background: #7b4b31;
}
main #add #img-add{
    width: 25px;
    height: 25px;
    margin: 9px;
}
#primary{
    margin-top: 35px;
}
main .plantas{
    width: 330px;
    height: 50px;
    background: #F4EADC;
    border-radius: 9px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
main .img{
    height: 25px;
    width: 25px;
    margin: 5px 10px;
    margin-top: 10px;
}
main .pen{
    color: #A1574C;
}
main .plant{
    color: #BD8A57;
}